

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: seashell;
    background-image: url(./images/LiHtdD.jpg);
    font-size: 22px;
    text-align: center;
    background: url(./images/LiHtdD.jpg) fixed center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
nav {
    flex-grow: 1;
    text-align: center;
}

nav span {
    display: inline-block;
    padding: 20px 10px;
}


.header {
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 70px;
    background-color: black;
    border-bottom: 1px solid #69645a ;
    align-items: center;
    opacity: 0.7;
}

#links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



span a {
    text-decoration: none;
    color: seashell;
}

.content {
    position: relative;
    justify-content: center;
}

#content-content img {
    width: 100%;
    opacity: 1;
}




.text-block1 {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #69645a;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0.5;
    border-radius: 10px;
}

.text-block2 {
    position: absolute;
    top: 190px;
    left: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0.8;
    border-radius: 10px;

}

#image1 {
    height: 220px;
    width: auto;
}

footer p {
    text-align: left;
    font-size: 15px;
}

.fa-instagram {
    background: #125688;
    color: white;
    border-radius: 50%;
}

.images {
    padding: 5px;

}

.images img {
    height: 200px;
    margin: 10px;
    display: inline-flex;
    align-content: center;
    
}

#bottom-content {
    height: 300px;
    width: 1000px;
    margin: auto;
    padding-top: 70px;
    display: flex;
    justify-content: center;
}

.images span {
    display: block;
    padding: 5px;
    font-weight: bold;
    text-align: center;

}

footer {
    bottom: 0px;
}

